{% extends "base.html" %}
{% block content %}

<div class = "form">
    <form name = "movie_form" action="{% url 'get_graph' %}" method="post">
        
        {% if alert == 'Artist Name might have spelled wrong OR there is a mismatch of Profession and Artist Name OR Artist does not exist.' %}
            <p><b style = "font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Artist Name might have spelled wrong OR there is a mismatch of Profession &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and Artist Name OR Artist does not exist.</b></p>
                
        {% elif alert == 'Please enter Full Artist Name!! There might be other Artists with the same name.' %}
            <p><b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ alert }}</b></p>
        
        {% else %}
                
        {% endif %}
        
                
                
        <table width="500" align="center" cellpadding="5" cellspacing="10">
            
            {% csrf_token %}
            {{ form.as_table }}

            
            <tr>
                <td align = "center"><br/>
                    <input type="submit" name="btnsubmit" value="Plot Graph"/></td>
                <td align="center"><br/>
                    <input type="reset" name="clearr" value="Clear"/>
                </td>
            </tr>
            
        </table>
    </form>
</div>

{% endblock %}

